body {
    margin: 0;
    padding: 0;
}


span {
    font-style: italic;


}
/* content */
.list-contayner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
    
}
.list-contayner>p {
    text-align: center;
    font-weight: bold;
}

.first-img {
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}
.first-img>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-html5 {
    max-width: 70px;

}

/* upper nav panel */

.nav-contayner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(126, 126, 230);
}
.nav-contayner>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav-contayner>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-widht: 900px) {
    .nav-contayner {
        flex-direction: column;

    }
}

.text-page {
    padding-left: 15px;

}

.page {
    display: flex;
    justify-content: center;

}

.header {
    width: 15%;
    background-color: aquamarine;

}

.section {
    width: 81%;
}

.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;

}
.header>div {
    width: 100%;

}
.header>div>img {
    width: 100%;
}